@using Orbital.Web.Clubs
@model ClubViewModel

@{
    ViewBag.Title = "Club - " + Model.Club.Name;
}

<h2>Club Details</h2>

<div class="card">
    <div class="card-block">
        <h4 class="card-title">@Model.Club.Name</h4>

        <div class="btn-group" role="group" aria-label="Controls">
            <a asp-action="Edit" asp-route-id="@Model.Club.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Club.Id" class="btn btn-danger">Delete</a>
        </div>
    </div>
    
    <div class="card-footer">
        @await Component.InvokeAsync("VersionInfo", Model.Versioning)
    </div>
</div>
