@using Orbital.Web.Clubs
@model IReadOnlyCollection<Club>

@{
    ViewBag.Title = "Clubs";
}

<div class="d-flex justify-content-end">
    <h2 class="mr-auto p-2">Clubs</h2>
    <div class="p-2">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="@Url.Action(nameof(ClubController.Create))" rol="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <div class="sr-only">Create</div>
            </a>
        </div>
    </div>
</div>
<div class="list-group">
    @foreach (var club in Model)
    {
        <a href="@Url.Action(nameof(ClubController.Get), new { id = club.Id })"
           class="list-group-item list-group-item-action">
            @club.Name
        </a>
    }

    @if (!Model.Any())
    {
        <a href="#" class="list-group-item disabled">
            There are no clubs!
        </a>
    }
</div>
